 <%layout('/layout/boilerplate')%>

	   <div class="row">
		<h1 class="text-center">Edit Campground</h1>
		<div class="col-md-6 offset-md-3">
			<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="form-validator" novalidate enctype="multipart/form-data">
 

		<div class="mb-3">
			<label class="form-label" for="title">Campground Name</label>
			<input class="form-control"  type="text" id="title" value="<%=campground.title%>" placeholder="enter the title" name="campground[title]" required>
		</div>

		<div class="mb-3">
			<label class="form-label" for="location">Campground Location</label>
			<input class="form-control" type="text" id="location" value="<%=campground.location%>" placeholder="enter the title" name="campground[location]" required>
		</div>

           
        <div class="mb-3">
        	<label class="form-label" for="price">Price</label>
		<div class="input-group">
		  <span class="input-group-text" id="price-label">₱</span>
		  <input type="number" id="price" value="<%=campground.price%>" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
		</div>
        </div>

         <div class="mb-3 form-file custom-file">
		  <label for="image" class="form-file-text custom-file-label">Add more image(s)...</label>
		  <input class="form-control form-file-input" type="file" name="image" id="image" multiple>
		</div>

		<div class="mb-3">
			<label class="form-label" for="description">Description</label>
			<textarea class="form-control" type="text" id="description"  name="campground[description]" required><%=campground.description%></textarea>
		</div>

		<h5> Delete Images </h5>
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                <% campground.images.forEach((image, i) => { %>
                    <div class="col">
                        <div class="card">
                            <img class="card-img" src="<%= image.thumbnail %>" alt="">
                            <div class="card-img-overlay text-end pt-1 pe-2">
                                <label style="color:white" class="visually-hidden" for="image-<%= i %>">Delete Image?</label>
                                <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= image.filename %>"  id="image-<%= i %>">
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

		<div class="mb-3">
			<button class="btn btn-info" type="submit">Update Campground</button>
		</div>

		<div class="mt-3 mb-3">
	<a href="/campgrounds" class="btn btn-danger">Cancel</a>
      </div>
	</form>

		</div>
	</div>


	
