  <%layout('/layout/boilerplate')%>
  <div id="cluster-map"></div>
	<h1 class="mt-3">Campgrounds List</h1>
	<a class="btn mb-3 mt-3 btn-secondary" href="/campgrounds/new">Submit a new CampGround</a>

		<%for (let campground of campgrounds) {%>
		 <div class="card mb-3">
		 	<div class="row">
		 		<div class="col-md-4">
		 			<%if(campground.images.length) {%>
		 			<img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
		 			<%} else {%>
                     <img class="img-fluid" alt="" src="https://res.cloudinary.com/dzc3ezwun/image/upload/v1633426589/CampgroundPH/zyvevmxfh7mqlg6rbigh.jpg">
		 			<%}%>
		 		</div>
		 		<div class="col-md-8">
		 			<div class="card-body">
		 				<h5 class="card-title"><%=campground.title%></h5>
		 				<p class="card-text"><%=campground.description%></p>
		 				<p class="card-text">
		 					<small class="text-muted"><%=campground.location%></small>
		 				</p>
		 				<a class="btn btn-dark" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
		 			</div>
		 		</div>
		 	</div>
		 </div>
		<%}%>

		<script>
   const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
   const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
		 </script>
	
	<script src="scripts/clusterMap.js"></script>
