 <%layout('/layout/boilerplate')%>
	
	<div class="row">
		<h1 class="text-center">New Campground</h1>
		<div class="col-md-6 offset-md-3">
			
			<form action="/campgrounds" method="POST" class="form-validator" novalidate enctype="multipart/form-data">
 

		<div class="mb-3">
			<label class="form-label" for="title">Campground Name</label>
			<input class="form-control" type="text" id="title" placeholder="enter Campground Name" name="campground[title]" required>
		</div>

		<div class="mb-3">
			<label class="form-label" for="location">Camground Location</label>
			<input class="form-control" type="text" id="location" placeholder="enter Location" name="campground[location]" required>
		</div>


		<!-- <input type="file" name="image" id="" multiple> -->


		<!-- <div class="mb-3">
			<label class="form-label" for="image">Image URL</label>
			<input class="form-control" type="text" id="image"  name="campground[image]" required>
		</div> -->
           
        <div class="mb-3">
        	<label class="form-label" for="price">Price</label>
		<div class="input-group">
		  <span class="input-group-text" id="price-label">₱</span>
		  <input type="number" id="price" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
		</div>
        </div>

        <div class="mb-3 form-file custom-file">
		  <label for="image" class="form-file-text custom-file-label">Choose image(s)...</label>
		  <input class="form-control form-file-input" type="file" name="image" id="image" multiple>
		</div>


		<div class="mb-3">
			<label class="form-label" for="description">Description</label>
			<textarea class="form-control" type="text" id="description"  name="campground[description]" required></textarea>
		</div>


		<div class="mb-3">
			<button class="btn btn-info" type="submit">Add Campground</button>
		</div>

				    </form>
			
			
		</div>
	</div>


	
	
	
