 <%layout('/layout/boilerplate')%>
 <link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row mb-5">
	 <div class="col-6">
        <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% campground.images.forEach((img, i) => {  %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %>

            </div>
            <% if(campground.images.length > 1) {%>
            <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>

		<div class="card mb-3">
         
  <div class="card-body ">
    <h5 class="card-title"><%=campground.title%></h5>
    <p class="card-text"><%=campground.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-muted"><%=campground.location%></li>
      <li class="list-group-item">Submitted by <%=campground.author.username%></li>
    <li class="list-group-item">₱<%=campground.price%>/night</li>
  </ul>

   <%if (currentUser && campground.author.equals(currentUser._id)) {%>
  <div class="card-body">
    <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-primary">Edit Campground</a>
    
    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
			<button class="btn btn-danger">Delete</button>
		</form>

		<footer class="mt-3">
	<a href="/campgrounds" class="btn btn-secondary">Back to Campground Lists</a>
      </footer>
            </div>
            <%}%>
            <div class="card-footer text-muted ">
              2 days ago

        </div>
      </div>

      
	</div>
  <div class="col-6">

    <div id='map'></div>
    
         <% if(currentUser) {%>
          <h2>Leave a Review</h2>
      <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 form-validator" novalidate>
       <!--  <div class="mb-3">
           <label class="form-label" for="rating">Rating</label>
           <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
        </div> -->
         <div class="mb-3">
        <fieldset class="starability-basic">
          <!-- <legend>First rating:</legend> -->
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
         </div>

        <div class="mb-3">
            <label class="form-label" for="body">Review Text</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>

        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <%for (let review of campground.reviews) {%>
      <div class="card mb-3">
      <div class="card-body">
          
        <h5 class="card-title"><%=review.author.username%></h5>

            <p class="starability-result" data-rating="<%=review.rating%>">
              Rated: <%=review.rating%>
            </p>
        <!-- h6 class="card-subtitle mb-2 text-muted">By <%=review.author.username%></h6> -->
        <p class="card-text">Review: <%=review.body%></p>

        <%if (currentUser && review.author.equals(currentUser._id)) {%>
        <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">DELETE</button>
        </form>
        <%}%>
         </div>
         </div>
        <%}%>      
        <%}%>
  </div>
  
</div>

 <script>
   const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
   const campground = <%-JSON.stringify(campground)%>
 </script>

<script src="/scripts/showPageMap.js"></script>

 




		
		

		

		
		
	