<%layout('layout/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1597888490716-d388d6958931?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                   <form action="/register" method="POST" class="validateForms" novalidate>

			<div class="mb-3">
					<label class="form-label" for="username">Username</label>
					<input class="form-control" type="text" id="username" placeholder="enter User Name" name="username" autofocus required>
				</div>

				<div class="mb-3">
					<label class="form-label" for="email">Email</label>
					<input class="form-control" type="email" id="email" placeholder="enter Email" name="email" required>
				</div>

				<div class="mb-3">
					<label class="form-label" for="password">Password</label>
					<input class="form-control" type="password" id="password" placeholder="enter Password" name="password" required>
				</div>

				<button class="btn btn-info btn-block">Register</button>
						</form>
                </div>
            </div>
        </div>
    </div>
</div>



